<div class="page-header">
  <h3><%= @user.username %></h3>
  <% if current_user.id == @user.id %>
    <a href="/users/edit"><h6>Edit</h6></a>
  <% end %>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Email</dt>
      <dd><%= @user.email %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/users" class="btn btn-primary">
        Back
      </a>
    </div>
  </div>
</div>

<!-- A User has many restaurants -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Restaurant Contributions
      </li>

      <% @user.restaurants.each do |restaurant| %>
        <li class="list-group-item">
          <a href="/restaurants/<%= restaurant.id %>">
            <%= restaurant.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/restaurants/<%= restaurant.id %>" class="btn btn-primary">
              <i class="fa fa-eye"></i>
            </a>
            <%if current_user == restaurant.contributor %>
              <a href="/restaurants/<%= restaurant.id %>/edit" class="btn btn-warning">
                <i class="fa fa-pencil"></i>
              </a>
              <a href="/delete_restaurant/<%= restaurant.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many activities -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Activity Contributions
      </li>

      <% @user.activities.each do |activity| %>
        <li class="list-group-item">
          <a href="/activities/<%= activity.id %>">
            <%= activity.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/activities/<%= activity.id %>" class="btn btn-primary">
              <i class="fa fa-eye"></i>
            </a>
            <%if current_user == activity.contributor %>
              <a href="/activities/<%= activity.id %>/edit" class="btn btn-warning">
                <i class="fa fa-pencil"></i>
              </a>
              <a href="/delete_activity/<%= activity.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many date_night_plans -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Date Nights
      </li>

      <% @user.date_night_plans.each do |date_night| %>
      <% if current_user == date_night.user || current_user == date_night.date %>
        <li class="list-group-item">
          <a href="/date_nights/<%= date_night.id %>">
            <%= date_night.day.to_formatted_s(:short) %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/date_nights/<%= date_night.id %>" class="btn btn-primary">
              <i class="fa fa-eye"></i>
            </a>
            <%if current_user == date_night.date %>
              <a href="/date_nights/<%= date_night.id %>/edit" class="btn btn-warning">
                <i class="fa fa-pencil"></i>
              </a>
              <a href="/delete_date_night/<%= date_night.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            <% end %>
          </div>
        </li>
      <% end %>
      <% end %>
      <% @user.date_night_invites.each do |date_night| %>
      <% if current_user == date_night.user || current_user == date_night.date %>
        <li class="list-group-item">
          <a href="/date_nights/<%= date_night.id %>">
            <%= date_night.day.to_formatted_s(:short) %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/date_nights/<%= date_night.id %>" class="btn btn-primary">
              <i class="fa fa-eye"></i>
            </a>
            <%if current_user == date_night.date %>
              <a href="/date_nights/<%= date_night.id %>/edit" class="btn btn-warning">
                <i class="fa fa-pencil"></i>
              </a>
              <a href="/delete_date_night/<%= date_night.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            <% end %>
          </div>
        </li>
      <% end %>
      <% end %>
    </ul>
  </div>
</div>


</div>
