<div class="page-header">
  <h3>Date on <%= @date_night.day.to_formatted_s(:long_ordinal) %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd>
        <% if @date_night.user.present? %>
          <a href="/users/<%= @date_night.user_id %>">
            <%= @date_night.user.username %>
          </a>
        <% end %>
      </dd>

      <dt>Date</dt>
      <dd>
        <% if @date_night.date.present? %>
          <a href="/users/<%= @date_night.date_id %>">
            <%= @date_night.date.username %>
          </a>
        <% end %>
      </dd>

      <dt>Restaurant</dt>
      <dd>
        <% if @date_night.restaurant.present? %>
          <a href="/restaurants/<%= @date_night.restaurant_id %>">
            <%= @date_night.restaurant.name %>
          </a>
        <% end %>
      </dd>

      <dt>Activity</dt>
      <dd>
        <% if @date_night.activity.present? %>
          <a href="/activities/<%= @date_night.activity_id %>">
            <%= @date_night.activity.name %>
          </a>
        <% end %>
      </dd>

      <dt>Day</dt>
      <dd><%= @date_night.day.to_formatted_s(:long) %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/date_nights" class="btn btn-default">
        <i class="fa fa-undo" aria-hidden="true"></i>
      </a>
      <% if current_user == @date_night.user || current_user == @date_night.date %>
        <a href="/date_nights/<%= @date_night.id %>/edit" class="btn btn-default">
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </a>
        <a href="/delete_date_night/<%= @date_night.id %>" class="btn btn-default" rel="nofollow">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </a>
      <% end %>
    </div>
  </div>
</div>
